
#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.csproj
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
bin/
Properties/
App_Data/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
hooks/
.ssh/
info/
phonegap.js
.gitconfig
touch/resources/css-debug
touch/resources/images
touch/resources/sass
touch/resources/themes
touch/builds/sencha-touch.js
touch/builds/sencha-touch-all-compat.js
touch/builds/sencha-touch-all-debug.js
touch/builds/sencha-touch-debug.js